.header
  grid-area: header
  background-color: #ffffff
  border-radius: 10px
  border: 2px solid #E7E8EC

.logo
  width: 80px
  height: 100%
  display: flex
  justify-content: center
  align-items: center