.header
  background-color: #ffffff

.logo
  text-align: center

.login
  display: flex
  justify-content: flex-end
  align-items: center
  font-size: 22px
  margin-right: 20px
  height: 100%

.login_user
  margin: 0 10px 0 0