.message
    display: flex
    justify-content: space-between
    margin: 20px 40px

.textarea
    width: 100%
    background-color: #E7E8EC
    border: none
    outline: none
    min-height: 50px
    font-size: 18px
    font-family: 'Roboto', sans-serif
    resize: none
    padding: 10px
    border-bottom-left-radius: 10px
    border-top-left-radius: 10px
    //overflow: hidden

.btn
    background-color: #0077FF
    padding: 10px
    color: #ffffff
    text-transform: uppercase
    border: none
    cursor: pointer
    border-bottom-right-radius: 10px
    border-top-right-radius: 10px

