*
  box-sizing: border-box

body
  margin: 0
  padding: 0

.header
  height: 80px
  padding: 0
  background: #ffffff
  box-shadow: 0 2px 8px #f0f1f2
  z-index: 10

.sidebar
  margin-right: 5px

.main_layout
  padding: 20px

.main_content
  overflow: hidden
  background: #ffffff
  //min-height: calc(100vh - 100px)
  padding: 20px