.dialogs
  display: grid
  grid-template-columns: 1fr 3fr

.people
  margin: 20px 0
  border-right: 1px solid #E7E8EC

.messages
  margin: 20px 0

.title
  font-size: 24px
  margin: 20px 0 30px 40px

.people_list, .messages_list
  margin: 0
  padding: 0
  list-style-type: none

.name
  font-size: 20px
  padding: 20px 0 20px 40px
  cursor: pointer
  &:hover
    background-color: #E7E8EC

.message
  padding: 10px 0 10px 40px
  display: flex
  align-items: flex-start

.avatar
  width: 50px
  height: 50px
  border-radius: 50%

.text
  font-size: 14px
  padding-left: 20px
  margin: 0 0 7px



