.message
    margin: 15px 0

.text
    display: inline-block
    font-size: 14px
    margin: 0
    padding: 10px 20px
    background-color: #E7E8EC
    border-radius: 10px

.outcome
    text-align: right



